<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jom Chill</title>
    <style>
        @import url('http://fonts.cdnfonts.com/css/lambda');
    </style>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <section class="left-section">
        <div class="left-icon">
            <h1 class="h1">Jom Chill</h1>
            
        </div>
            <% if(isLoggedIn) { %> 
                <div class="profileDetail">
                    <img class="profile-pic" src=<%= currentUser.profile %>  alt="">
                    <h4 class="username">@<%= currentUser.username %></h4>

                </div>
                
            <div class="left-followers">
                <div class="posts">
                    <h5 class="h5"><%= postLength %> </h5 class="h5"><h6 class="h6">Posts</h6 class="h6">
                </div>
                <div class="followers">
                    <h5 class="h5">28k</h5 class="h5"><h6 class="h6">Followers</h6 class="h6">
                </div>
                <div class="following">
                    <h5 class="h5">285</h5 class="h5"><h6 class="h6">Following</h6 class="h6">
                </div>
                <% } %> 
            </div>
            <div class="left-detail">
                <a class="home-icon" href="/"><i class="fa fa-home" style="font-size:20px"> Home</i></a>
                <a href=""><i class="fa fa-search" aria-hidden="true" style="font-size:20px;"> Explore</i></a>
                <a href="/share_form"><i class="fa fa-plus-square" aria-hidden="true" style="font-size:20px;"> Share</i></a>           
            </div>
            <footer class="left-footer">
                <% if (isLoggedIn) {%>
                    
                    
                    <form action="/logout" method="post">
                        <input type="hidden" name="_method" value="delete">
                        <button class="logout-btn"><i class="fa fa-sign-out" aria-hidden="true">logout </i></button>
                        
                    </form>
                    
                    <% } else { %> 
                        <a href="/login">
                            <i class="fa fa-sign-in" aria-hidden="true" style="font-size: 20px;"> Sign in</i>
                        </a>
                        <button class="signup-btn" style="font-size:15px"><a href="/signup"> <i class="fa fa-address-card"> Signup</i></a></button>
                        
                        
                        
       <% } %>      
       
    </footer>
    
</section>
<section class="right-section">
    <%- body %> 
</section>












</body>
</html>