<body>
   
    <h1>Share new place</h1>

    <form class="retrieve-form" class="upload-form" action="/upload" method="post">
        <input type="text" name="name" placeholder="Place Name">
        <input type="text" name="image_url" placeholder="Url Image">
        <input type="text" name="country" placeholder="Country">
        <input type="text" name="typeofplace" placeholder="Type of place">
        <input type="text" name="season" placeholder="How many season this place?">
        <input type="text" name="thingstodo" placeholder="What can visitor do here?">
        <input type="text" name="recomendation" placeholder="How much do you recomend this place?">
        <input type="text" name="user_id">
        <button class="upload-btn">Upload</button>

    </form>
</body>