

<h1>Let's signup</h1>

<form action="/signup" method="post" class="signup-form">
    <input type="text" placeholder="email" name="email">
    <input type="text" placeholder="username" name="username">
    <input type="password" placeholder="password" name="password">
    <input type="password" placeholder="re-type password" name="reTypePassword">
    <button class="signup-btn">signup</button>
</form>